<ion-tabs>
  <ion-tab-bar slot="bottom" class="green-tabs">
    <ion-tab-button tab="home">
      <ion-icon name="play-circle"></ion-icon>
      HOME
    </ion-tab-button>
    <ion-tab-button tab="new">
      <ion-icon name="pizza"></ion-icon>
      NEW
    </ion-tab-button>
    <ion-tab-button tab="promozioni">
      <ion-icon name="pricetags"></ion-icon>
      PROMOZIONI
    </ion-tab-button>
    <ion-tab-button tab="profilo">
      <ion-icon name="person"></ion-icon>
      PROFILO
    </ion-tab-button>
  </ion-tab-bar>  
</ion-tabs>