<ion-content class="bg-gray-900 text-white p-16">
  <h1 class="text-2xl font-bold mb-4">Carrello</h1>
  
  <div class="mb-4">
    <p class="text-lg font-semibold">{{ order?.type }}</p>
    <ul>
      <li *ngFor="let item of cartItems" class="flex justify-between items-center mb-2">
        <div class="flex items-center">
          <span class="mr-2">{{item.quantity}}x</span>
          <span>{{item.name}}</span>
        </div>
        <div class="flex items-center">
          <button (click)="incrementQuantity(item)" class="px-1 ion-activatable ripple-parent relative overflow-hidden bg-gray-200 w-8 h-8 rounded-full flex items-center justify-center text-2xl"> <ion-ripple-effect></ion-ripple-effect> +</button>
          <button (click)="decrementQuantity(item)" class="px-1 ion-activatable ripple-parent relative overflow-hidden bg-gray-200 w-8 h-8 rounded-full flex items-center justify-center text-2xl"> <ion-ripple-effect></ion-ripple-effect> - </button>
          <ion-icon name="pencil-outline" class="text-gray-500"></ion-icon>
          <span class="ml-4">{{item.price}}€</span>
        </div>
      </li>
    </ul>
  </div>

  <div class="mb-4">
    <ion-textarea 
      [ngModel]="order?.notes || ''" 
      (ngModelChange)="updateNotes($event)"
      placeholder="Note..." 
      rows="3" 
      class="rounded p-2">
    </ion-textarea>  
  </div>

  <ion-button expand="block" (click)="confirmOrder()" class="bg-blue-500 text-white">
    Conferma ordine
  </ion-button>
</ion-content>