<ion-content class="bg-purple-700 text-white">
  <div class="flex flex-col items-center h-full p-4">
    <!-- Logo container -->
    <div class="w-full aspect-square flex items-center justify-center">
      <img [src]="tenant.logo_url || 'assets/default-meal-image.jpg'" [alt]="tenant.name" class="max-w-[70%] max-h-[70%] object-contain ">
    </div>

    <!-- Tenant name -->
    <h1 class="text-3xl font-bold mb-6 text-white">{{ tenant.name }}</h1>

    <!-- Buttons container -->
    <div class="w-full flex flex-col gap-4 pb-4">
      <ion-button expand="block" class="h-16 px-10 text-xl text-black custom-button" [routerLink]="['/menu/ASPORTO']">
        ASPORTO
      </ion-button>
      <ion-button expand="block" class="h-16 px-10 text-xl text-black custom-button" [routerLink]="['/menu/DELIVERY']">
        DELIVERY
      </ion-button>
      <p class="text-center my-2 text-white">Se sei seduto al ristorante</p>
      <ion-button expand="block" class="h-16 px-10 text-xl text-black custom-button " [routerLink]="['/menu/TAVOLO']">
        TAVOLO
      </ion-button>
    </div>
  </div>
</ion-content>