<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-grid  class="w-full">
  <ion-row>
    <ion-col>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>First Accordion</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <div routerLink="/reservation">
              <ion-icon name="calendar" slot="start" class=""></ion-icon>
              <ion-button class="bg-red-100">
                +
                <ion-ripple-effect></ion-ripple-effect>
              </ion-button>
            </div>
          </div>
        </ion-accordion>

        <ion-accordion value="second">
          <ion-item slot="header" color="light">
            <ion-label>Second Accordion</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Second Content</div>
        </ion-accordion>
        
        <ion-accordion value="third">
          <ion-item slot="header" color="light">
            <ion-label>Third Accordion</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Third Content</div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-col>
  </ion-row>

  <ion-row>
    CARLOOSSSS
  </ion-row>
</ion-grid>
