<div class="bg-white rounded-lg shadow-md p-4 h-full flex flex-col justify-between ion-activatable ripple-parent relative overflow-hidden">
    <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
  
    <div>
      <h3 class="text-lg font-semibold mb-2">{{ discount.Meals?.name }}</h3>
      <div class="w-full h-32 mb-2 overflow-hidden rounded">
        <img [src]="discount.Meals?.image_url || 'assets/default-meal-image.jpg'" 
             [alt]="discount.Meals?.name"
             class="w-full h-full object-cover">
      </div>
    </div>
    <div class="flex justify-between items-end">
      <div>
        <p class="text-lg font-bold text-red-600">{{ discount.price | currency:'EUR':'symbol':'1.2-2' }}</p>
        <p class="text-sm text-gray-500 line-through">{{ discount.Meals?.price | currency:'EUR':'symbol':'1.2-2' }}</p>
      </div>
      <p class="text-xs text-gray-500">
        Valido fino a: {{ discount.created_at | date:'shortDate' }}
      </p>
    </div>
  </div>