ion-content {
  --background: #8b4f9a;
}

.category-scroll {
    &::-webkit-scrollbar {
      display: none;  /* for Chrome, Safari, and newer versions of Opera */
    }
    -ms-overflow-style: none;  /* for Internet Explorer and Edge */
    scrollbar-width: none;  /* for Firefox */
  }


  input {
    width: 100%;
    box-sizing: border-box;
  }

  .custom-ripple {
    color: #f8f8f8;
  }


  .selected-category {
    background-color: black !important;
    color: white;
  }

  .custom-item {
    --background: #8b4f9a;
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
    margin-bottom: 1rem; 
  }
  
  .custom-item::part(native) {
    padding: 0;
  }
  
  ion-item {
    --background: transparent;
  }
  
  ion-ripple-effect {
    color: rgba(255, 255, 255, 0.1);
  }


  .relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  .left-0 {
    left: 0;
  }
  
  .right-0 {
    right: 0;
  }
  
  .z-10 {
    z-index: 10;
  }
  
  .flex-grow {
    flex-grow: 1;
  }
  
  .text-center {
    text-align: center;
  }
  