<ion-content class="bg-purple-900">
  <div class="p-4">

    <!-- Header -->
    <div class="flex items-center justify-between mb-4 relative">
      <!-- Spacer to balance the layout -->
      <div class="w-8"></div>
  
      <!-- Title -->
      <h1 class="text-2xl text-white font-bold uppercase text-center flex-grow"
          [@titlePosition]="searchState">
        {{ orderType }}
      </h1>

      <!-- Search Icon and Input -->
      <div class="flex items-center">
        <div [@expandSearch]="searchState" 
              class="overflow-hidden flex items-center mr-2">
          <input [ngModel]="searchTerm$ | async" 
                (ngModelChange)="onSearchTermChange($event)"
                class="px-2 py-1 rounded w-full" 
                placeholder="Ricerca...">
        </div>
        <ion-icon (click)="toggleSearch()" 
                  [name]="showSearch ? 'close-outline' : 'search-outline'" 
                  class="text-xl cursor-pointer text-white"></ion-icon>
      </div>
    </div>


    <!-- Categories -->
    <div class="flex space-x-2 overflow-x-auto mb-4">
      <ng-container *ngIf="categories$ | async as categories; else loadingCategories">
        <button *ngFor="let category of categories"
                (click)="selectCategory(category)"
                [class.bg-white]="category === (selectedCategory$ | async)"
                [class.text-purple-900]="category === (selectedCategory$ | async)"
                class="px-3 py-1 rounded-full text-sm whitespace-nowrap border border-white text-black bg-gray-200">
          {{ category }}
        </button>
      </ng-container>
      <ng-template #loadingCategories>
        <div class="text-gray-500">Loading categories...</div>
      </ng-template>
    </div>

    <!-- Selected Category Title -->
    <h2 class="text-2xl text-white font-bold mb-4">{{ selectedCategory$ | async }}</h2>

    <!-- Meal List -->
    <div class="space-y-4">
      <ng-container *ngIf="filteredMeals$ | async as filteredMeals; else loadingMeals">
        <ion-item *ngFor="let item of filteredMeals" 
                  (click)="navigateToMeal(item.id)"
                  class="ion-activatable ripple-parent custom-item mb-4 rounded-lg overflow-hidden">
          <ion-ripple-effect></ion-ripple-effect>
          
          <div class="flex items-center w-full p-2">
            <img [src]="item.image_url || 'assets/default-meal-image.jpg'" 
                [alt]="item.name" 
                class="w-20 h-20 object-cover rounded-md mr-4">
            <div class="flex-grow">
              <h3 class="font-bold text-lg text-white">{{ item.name }}</h3>
              <p class="text-sm text-gray-300">{{ item.description }}</p>
            </div>
            <div class="text-right text-white">
              {{ item.price | currency:'EUR':'symbol':'1.2-2' }}
            </div>
          </div>
        </ion-item>
      </ng-container>
      <ng-template #loadingMeals>
        <div class="text-gray-500">Loading meals...</div>
      </ng-template>
    </div>


      <!-- Floating Cart Button -->
    <div *ngIf="((cartTotal$ | async) ?? 0) > 0" 
          class="absolute bottom-4 left-4 right-4 z-10">
      <button class="w-full bg-sky-400 text-white rounded-full py-3 px-4 flex items-center justify-between shadow-lg" [routerLink]="['/cart']">
        <div class="flex items-center">
          <ion-icon name="cart-outline" class="mr-2 text-3xl"></ion-icon>
          <span class="text-xl">Vai al carrello</span>
        </div>
        <div class="flex items-center">
          <span class="mr-2 text-lg">{{ cartTotal$ | async | currency:'EUR':'symbol':'1.2-2' }}</span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </button>
    </div>

  </div>
</ion-content>
